body {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.MyProjects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}
.Projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.Project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 40px;
    margin: 0;
    padding: 20px;
}
h2 {
    font-size: 32px;
    margin: 30px 20px 10px;
    padding: 60px;
    border: #FFF solid 3px;
    border-radius: 36px;
    background: linear-gradient(117deg, rgba(106, 27, 154, 0.59) 0%, rgba(255, 255, 255, 0.59) 182.04%);
}
p {
    font-size: 24px; 
}
.button-containerC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 600px;
    font-size: 18px;
}


