.Pages {
    color: #FFF;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: .6em;
    right: 0;
    border-bottom: #FFF 5px solid;
    width: 100%;
    height: 60px;
}

nav a {
    text-decoration: none;
    color: #FFF;
    padding: .2em 20px;
    align-items: center;
    
}
nav a:hover {
    color: #973CEA;
}
.active {
    text-decoration: none;
    color: #FFF;
}
